<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Granal Césped Artificial</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
  </head>
  <body>

    <div class="header-logo">
      <img src="../static/images/logoCirculo_granal.jpg" alt="" width="100px">
      <p style="padding-left:20px; font-size:25px; color:grey">Mejorando las instalaciones deportivas en Andalucía</p>
    </div>

    <div class= "nav-bar">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="cesped-natural.html">Césped Natural</a></li>
        <li><a href="cesped-artificial.html">Césped Artificial</a></li>
        <li><a href="pavimentos-deportivos.html">Pavimentos</a></li>
        <li><a href="equipamiento-deportivo.html">Equipamiento</a></li>
        <li><a href="contacto">Contacto</a></li>
      </ul>
    </div>

    <div class="" style="width:100%">
      <img src="../static/images/foto-pagina-cesped-artificial.png" alt="" width="100%">
    </div>

    <div class="titulo-producto" style="border-bottom:2px solid green">
      <h3 valign="bottom">Césped Artificial</h3>
    </div>

    <table class="table-productos">
        <td valign="top" style="width:50%;">
          <p>Granal Sport diseña e instala campos de césped artificial de manera personalizada. No todos los campos son iguales. El césped artificial es escogido adecuadamente según el tipo de uso y el presupuesto del cliente.</p>
        </td>
        <td valign="top" style="width:50%">
          <p>La empresa además ofrece el servicio de implantar sistemas de drenajes y riegos altamente eficientes. Un campo completo es garantía de alto rendimiento. Contacta y habla con uno de nuestros técnicos.</p>
        </td>
      </tr>

    </table>


    <div class="footer">
      <ul>
        <li><strong>Granal Sport, SL</strong></li>
        <li>Avenida Fernando de los Rios</li>
        <li>Granada (Granada - Andalucía)</li>
        <li>email: info@granal.es / Telf: xxxxxxxx</li>
      </ul>
    </div>


  </body>
</html>
