<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Granal Sport</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-orange w3-mobile nav-items">
        <a href="#" class="w3-bar-item w3-button">Inicio</a>
        <a href="#" class="w3-bar-item w3-button">Césped Natural</a>
        <a href="#" class="w3-bar-item w3-button">Césped Artificial</a>
        <a href="#" class="w3-bar-item w3-button">Pavimentos</a>
        <a href="#" class="w3-bar-item w3-button">Equipamiento</a>
        <a href="#" class="w3-bar-item w3-button">Contacto</a>
    </div>

    <div>
      <img src="../static/images/valle-san-lorenzo.jpg" alt="" width="100%">
    </div>

    <div class="container-cols-home">
      <div class="w3-row" style="padding:5px">
        <div class="w3-col w3-container" style="width:25%">
          <div class="w3-border-bottom w3-border-green">
            <h5>Césped Artificial</h5>
          </div>
          <div class="container-above-icon">
          <p>Granal ofrece unos campos de césped artificial que cumplen los ensayos más exigentes de la industria. Un campo para todos</p>
          </div>
          <br>
          <img src="../static/images/cesped-artificial.png" alt="" width="100%">
        </div>
        <div class="w3-col w3-container" style="width:25%">
          <div class="w3-border-bottom w3-border-green">
            <h5>Césped Natural</h5>
          </div>
          <div class="container-above-icon">
            <p>Un campo de césped natural permite desarrolar un juego en estado puro. Es la superficie de juego deseada por todos los deportistas</p>
          </div>
          <br>
          <img src="../static/images/cesped-natural.png" alt="" width="100%">
        </div>
        <div class="w3-col w3-container" style="width:25%">
          <div class="w3-border-bottom w3-border-orange">
            <h5>Pavimentos</h5>
          </div>
          <div class="container-above-icon">
            <p>Los pavimentos de Granal Sport están diseñador para durar. La inversión en nuestros productos siempre es altamente satisfactoria</p>
          </div>
          <br>
          <img src="../static/images/pista-baloncesto.png" alt="" width="100%">
        </div>
        <div class="w3-col w3-container" style="width:25%">
          <div class="w3-border-bottom w3-border-orange">
            <h5>Equipamiento</h5>
          </div>
          <div class="container-above-icon">
            <p>El mejor equipamiento con las mejores garantías. Los materiales y el modo de fabricación de toda nuestra gama es lo que nos da fiabilidad</p>
          </div>
          <br>
          <img src="../static/images/aro-baloncesto.png" alt="" width="100%">
        </div>
      </div>
    </div>

    <script>
    function scrollWin(x, y) {
        window.scrollBy(x, y);
    }
    </script>
  </body>
</html>
