<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Granal Pavimentos Deportivos</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
  </head>
  <body>
    <div class="header-logo">
      <img src="../static/images/logoCirculo_granal.jpg" alt="" width="100px">
      <p style="padding-left:20px; font-size:25px; color:grey">Mejorando las instalaciones deportivas en Andalucía</p>
    </div>

    <div class= "nav-bar">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="cesped-natural.html">Césped Natural</a></li>
        <li><a href="cesped-artificial.html">Césped Artificial</a></li>
        <li><a href="pavimentos-deportivos.html">Pavimentos</a></li>
        <li><a href="equipamiento-deportivo.html">Equipamiento</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </div>

    <div class="" style="width:100%">
      <img src="../static/images/foto-pagina-pavimentos-deportivos.jpg" alt="" width="100%">
    </div>

    <div class="titulo-producto" style="border-bottom:2px solid orange">
      <h3 valign="bottom">Pavimentos Deportivos</h3>
    </div>

    <table class="table-productos">
      <tr>
        <td valign="top" style="width:50%">
          <p>La división de pavimentos deportivos de Granal Sport ofrece una gran versatilidad de productos y soluciones, tanto para clientes de élites como para clientes más modestos. </p>
        </td>
        <td valign="top" style="width:50%">
          <p>La empresa siempre garantiza los mejores materiales para cada proyecto, priorizando la durabilidad y las prestaciones. La practica de cualquier deporte sobre un pavimento de Granal Sport es más seguro. </p>
        </td>
      </tr>

    </table>

    <div class="footer">
      <ul>
        <li><strong>Granal Sport, SL</strong></li>
        <li>Avenida Fernando de los Rios</li>
        <li>Granada (Granada - Andalucía)</li>
        <li>email: info@granal.es / Telf: xxxxxxxx</li>
      </ul>
    </div>


  </body>
</html>
